html, body {
  min-height: 100%;
}

body {
  background-image: linear-gradient(334.09deg, #3377BB 10.39%, #53B8B8 76.88%);
  margin: 0;
}

.container {
  margin: auto;
  width: 60%;

  display: flex;
  flex-direction: column;
}