@import url('https://fonts.googleapis.com/css?family=Rambla&display=swap');
@mixin backgroundProperties() {
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
}

.Play {
    display: flex;
    flex-direction: row;

    width: 70px;
    height: 70px;
    margin: 5% 0 0 5%;
    padding: 0 0 0 70px;
    
    @include backgroundProperties;
    background-image: url(../img/Play.svg);
    background-color: #EFC530;
    border-radius: 50px;
    border: none;
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &:hover {
        border-radius: 50px;
        width: 30%;
        background: #EFEFEF;
    }

    .link {
        font-family: 'Rambla', sans-serif; 
        text-align: center;
        margin: 0 5%;
        color: #565551;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: small;
        letter-spacing: 5px;
    }
}

.Entrar {
    display: flex;
    flex-direction: row;

    width: 150px;
    height: 50px;
    margin: 5% auto;
    
    background-color: #EFC530;
    border-radius: 50px;
    border: none;

    align-content: center;
    justify-content: center;
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &:hover {
        width: 30%;
        letter-spacing: 10px;
        background-color: rgb(255, 239, 8);
    }

    .link {
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: x-large;
    }
}

.Registrar {
    display: flex;
    flex-direction: row;

    width: 250px;
    height: 50px;
    margin: 2%;
    
    background-color: #ADB45D;
    border-radius: 50px;
    border: none;

    align-content: center;
    justify-content: center;
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &:hover {
        width: 40%;
        letter-spacing: 10px;
        background-color: #DBFF00;
    }

    .link {
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: x-large;
    }
}

.Atras {
    display: flex;
    flex-direction: row;

    width: 80px;
    height: 50px;
    margin: 2% 0 2% 2%;
    
    background-color: rgb(243, 222, 102);
    border-radius: 20px;
    border: none;

    align-content: center;
    justify-content: center;
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    .link {
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: small;
        text-decoration: none;
    }

    &:hover {
        width: 30%;
        letter-spacing: 10px;

        .link {
            color: white;
            font-size: small;
        }
    }
}