@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto&display=swap|Rambla&display=swap|Josefin+Sans');
@mixin backgroundProperties() {
    background-color:white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

@mixin panelProperties() {
    width: auto;
    height: auto;
    border-radius: 30px;
}

@mixin contentPropierties() {
    display: flex;
    flex-direction: column;
    padding: 5%;
    align-self: center;
    justify-self: center;
}

@mixin tagsProperties() {
    h1, h3, h4, input, .link, .column{
        margin: 2%;
        color: black;
        text-align: left;   
    }

    h1 {
        width: auto;
        font-size: 50px;
        font-weight: bolder;
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
    }

    h3 {
        font-weight: normal; 
        font-family: 'Rambla', sans-serif; 
        text-transform: uppercase; 
        color: rgba(0, 0, 0, 0.38);
        text-align: center;
    }

    h4 {
        width: 40%;
        font-weight: normal;
        font-family: 'Roboto', sans-serif;
    }

    input {
        width: 300px;
        height: 40px;
        display: block;
        border: none;
        background-color: rgba(196, 196, 196, 0.2);
        border-radius: 20px;
        text-align: center;
        font-family: 'Nunito', sans-serif;
        font-size: large;
    }

    .link {
        width: auto;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bolder;
    }

    .column {
        display: flex;
        flex-direction: row;

        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.home {
    background-image: url(../img/bgHome.png);
    @include backgroundProperties;
    @include panelProperties;
    @include contentPropierties;
    @include tagsProperties;
}

.logIn {
    background-image: url(../img/bgLogIn.png);
    @include backgroundProperties;
    @include panelProperties;
    @include contentPropierties;
    @include tagsProperties;
    h1 {text-align: center; margin: 3% auto;}
    h4, .link {text-align: center; margin: 2% auto; font-family: 'Nunito', sans-serif;}
    .link {color: #FDD137;}
    input {margin: 2% auto;}
}

.signUp {
    background-image: url(../img/bgSignUp.png);
    @include backgroundProperties;
    @include panelProperties;
    @include contentPropierties;
    @include tagsProperties;
    .link {color: #DBFF00;}
    input {font-weight: normal; font-family: 'Rambla', sans-serif; text-transform: uppercase; color: rgba(0, 0, 0, 0.38);}
    h3 {margin: 0 0;}
}

.categorias {
    @include backgroundProperties;
    @include panelProperties;
    @include contentPropierties;
    @include tagsProperties;

    h1, h4 {text-align: center; margin: 2% auto;}
    h4{width: 70%;}
    margin: 10% auto; width: 70%; height: 400px;
}